In [30]:
import pandas as pd
import numpy as np
import csv
import re

#### Q2. Set pandas controls.

In [3]:
pd.set_option('display.max_rows', 30)
pd.set_option('display.precision', 3)

#### Q3. Establish versions.

In [4]:
pd_version = pd.__version__
np_version = np.__version__

#### Q4. Read in 'olive.csv' as df

In [5]:
df = pd.read_csv('/Users/jas/ds/metis/')
df.head(5)

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46

#### Q5. print df shape

In [6]:
df_shape = df.shape
df_shape

(572, 11)

#### Q6. print first two rows as df_first_two

In [7]:
df_first_two = df[:2]
df_first_two

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29

#### Q7. How many distinct data types are in df?

In [9]:
df_data_types_count = len(df.dtypes.unique())
df_data_types_count

2

#### Q8. Create new column, 'sub_region_row', which is a copy of 'Unnamed: 0'

In [11]:
df['sub_region_row'] = df['Unnamed: 0']
df.head(5)

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_row
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia

#### Q9. Rename 'Unnamed: 0' to 'sub_region_desc'

In [15]:
df.rename(columns = {'Unnamed: 0':'sub_region_desc'}, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572 entries, 0 to 571
Data columns (total 12 columns):
sub_region_desc    572 non-null object
region             572 non-null int64
area               572 non-null int64
palmitic           572 non-null int64
palmitoleic        572 non-null int64
stearic            572 non-null int64
oleic              572 non-null int64
linoleic           572 non-null int64
linolenic          572 non-null int64
arachidic          572 non-null int64
eicosenoic         572 non-null int64
sub_region_row     572 non-null object
dtypes: int64(10), object(2)
memory usage: 53.7+ KB

#### Q10. Rename column 'area' to 'sub_region'

In [23]:
df.rename(columns = {'area':'sub_region'}, inplace = True)

#### Q11. Get the unique values in field 'region'

In [17]:
region_unique = [x for x in df.region.unique()]
region_unique

[1, 2, 3]

#### Q12. How many unique values of 'sub_region' are there?

In [24]:
sub_region_unique_count = len([x for x in df.sub_region.unique()])
sub_region_unique_count

9

#### Q13. Remove the '#.' from each of the items in 'sub_region_desc'. Create unique list and save as 'srd_unique'

In [37]:
pre_srd_unique = [re.sub('[0-9.]', '', x) for x in df.sub_region_desc]
pre_srd_unique

srd_unique = []
for x in pre_srd_unique:
    if x not in srd_unique:
        srd_unique.append(x)
srd_unique

['North-Apulia',
 'Calabria',
 'South-Apulia',
 'Sicily',
 'Inland-Sardinia',
 'Coast-Sardinia',
 'Umbria',
 'East-Liguria',
 'West-Liguria']

In [38]:
srd_unique_2 = [re.sub('[0-9.]', '', x) for x in df.sub_region_desc].unique()
srd_unique_2

AttributeError: 'list' object has no attribute 'unique'